# Gradle Build system
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration (API keys, local paths)
local.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.settings/
bin/
.classpath
.project

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Run folders (Minecraft test server)
run/
/run/
